body{
    background-color: #414141;
    color:aliceblue;
}
#img1{
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
}
#img2{
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
}
#img3{
    height: 200px;
    width: 200px;
     margin-bottom: 10px;
}
#img4{
    height: 200px;
    width: 200px;
     margin-bottom: 10px;
}
#img5{
    height: 200px;
    width: 200px;
     margin-bottom: 10px;
}
#img6{
    height: 200px;
    width: 200px;
     margin-bottom: 10px;
}
